<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This app was created by <%= author %>.</p>
    <ul>

    </ul>

    <a href="/new">Add new message</a>

  </body>
</html>
